/* general */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* padded sections - add padding top/bottom to separate sections */
.pad-section {
    padding: 75px 0;    
}
.pad-section img {
    width: 100%;
}

/* navigation styles - include smooth transition */
.navbar-custom {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    background-color: #333;
}
.navbar-custom a {
    color: #fff;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
    background-color: transparent;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        background-color: transparent; 
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
           -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
                transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom .navbar-toggle {
        background-color: transparent; 
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        background-color: #333;
    }
}

/* minimize pic - make my pic smaller when window size is small enough */
@media screen and (max-width: 767px) {
    .me-pic {
        height: 315px;
    }
    .col-sm-6 .me-pic {
        width: 256px;
        display: block;
        margin: auto;      
    }
    .container .col-sm-6 {
        padding: 0 50px;
    }
}

/* center-text - center text from home section */
.center-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.center-text h1 {
    font-size: 4em;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    -webkit-text-shadow: 0 0 6px #000;
       -moz-text-shadow: 0 0 6px #000;
            text-shadow: 0 0 6px #000; 
}
.center-text h3 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 20px 0;
}




/* additional styles for containers */
.container {
    font-family: "Roboto", sans-serif;
    color: #555;
}
.container h1 {
    font-weight: 900;
    font-size: 5em;
}
.container h2 {
    font-size: 2em;
    color: #777;
    line-height: 1.3;
    margin: 25px 0;
}
.container p {
    font-size: 1.2em;
    line-height: 2;
}

.container-custom {
    font-family: "Roboto", sans-serif;
    color: #fff;
    position: relative;
    padding-right:20px;
    padding-left:20px;
    margin-right:auto;
    margin-left:auto;
}
.container-custom h3 {
    font-size: 2em;
    line-height: 1.3;
    margin: 25px 0;
    font-weight: 600;
    text-transform: uppercase;
}
.container-custom p {
    font-size: 1.2em;
    line-height: 1.5;
}

a {
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.bold-text {
    font-weight: 900;
}
.glyphicon {
    font-size: 50px;
}



/* additional sections */
#home {
    background: url('../img/Nature-Mountain-HD-Wallpapers.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}
#education {
    background-color: #555;
    display: table;
    height: 50%;
    width: 100%;
    position: relative;
    background-size: cover;
}
#education h2, #education h4, #education p {
    color: #fff;
}





/* Initial loading screen, shown before website loads completely */
.loading {
	background: url('../img/loading.gif') no-repeat center center;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 500px;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}







