/* general */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
a {
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.bold-text {
    font-weight: 900;
}

/* icons - specify icons size */
.glyphicon {
    font-size: 50px;
}
i {
    font-size: 60px;
}


/* padded sections - add padding top/bottom to separate sections */
.pad-section {
    padding: 75px 0; 
    margin: 0 0;
}
.pad-section img {
    width: 100%;
}


/* navigation styles - include smooth transition */
.navbar-custom {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    background-color: #333;
}
.navbar-custom a {
    color: #fff;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
    background-color: transparent;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        background-color: transparent; 
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
           -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
                transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom .navbar-toggle {
        background-color: transparent; 
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        background-color: #333;
    }
}


/* minimize pic - adjust my pic when window size is small enough */
@media screen and (max-width: 767px) {
    .me-pic {
        height: 315px;
    }
    .col-sm-6 .me-pic {
        width: 256px;
        display: block;
        margin: auto;      
    }
    /*
    .container .col-sm-6 {
        padding: 0 50px;
    } */
}


/* percentage bars - measure skills */
.bar-container {
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: #ccc;
    height: 10px;
    width: 100%;                       
    margin: 10px 0px;
    overflow: hidden;
}
.bar {
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    float: left;
    background: #888;
    height: 10px;
    margin: 0;
    overflow: hidden;
}
@media screen and (max-width: 767px) {
    .bar-container {
        width: 200px;
        margin: 10px auto;
    }
}


/* center-text - center text from cover section */
.center-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.center-text h1 {
    font-size: 4em;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    -webkit-text-shadow: 0 0 6px #000;
       -moz-text-shadow: 0 0 6px #000;
            text-shadow: 0 0 6px #000; 
}
.center-text h3 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 20px 0;
}




/* additional styles for containers */
.container {
    font-family: "Roboto", sans-serif;
    color: #555;
    margin: 0 0;
    padding: 0 20px;
}
.container h1 {
    font-weight: 900;
    font-size: 5em;
}
.container h2 {
    font-size: 2em;
    color: #777;
    line-height: 1.3;
    margin: 25px 0;
}
.container h3 {                            
    font-size: 2em;
    line-height: 1.3;
    margin: 10px 0;
    font-weight: 600;
    text-transform: uppercase;
}
.container p {
    font-size: 1.2em;
    line-height: 2;
}

.container-custom {
    font-family: "Roboto", sans-serif;
    color: #fff;
    position: relative;
    padding: 0 20px;
    margin: 0 auto;
}
.container-custom h3 {
    font-size: 2em;
    line-height: 1.3;
    margin: 25px 0;
    font-weight: 600;
    text-transform: uppercase;
}
.container-custom p {
    font-size: 1.2em;
    line-height: 1.5;
}



/* styles for projects section */
.container-projects {
    margin: 0 0;
    padding: 0 0; 
}
.col-xs-6.col-sm-3.full-width {
    margin: 0 0;
    padding: 0 0;
}
.pj {
    width: 100%;
    height: 200px;
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out;     
}
.pj:hover {
    background-size: 125% 125%;
}
.pj-text {
    background: rgba(200,200,200,.5);
    height: 50%; 
    width: 100%;
    position: absolute;
    bottom: 0;
}
.pj-text:hover, .pj-text:focus {
    visibility: visible;
}

/* specific styles for individual projects */
.scene3d { 
    background: url('../img/mountains.jpg') no-repeat center center; 
    background-size: 100% 100%;
}
.huffman { 
    background: url('../img/mountains-snow.jpg') no-repeat center center; 
    background-size: 100% 100%;
}
.website { 
    background: url('../img/mountains-rock.jpg') no-repeat center center; 
    background-size: 100% 100%;
}
.senior { 
    background: url('../img/beach-rock.jpg') no-repeat center center; 
    background-size: 100% 100%;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    -webkit-transition: background-color .5s ease-in;
    -moz-transition: background-color .5s ease-in;
    transition: background-color .5s ease-in;
}
.modal:hover {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}















/* additional sections */
#cover {
    background: url('../img/mountains.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}

#about-cont {
    background-color: #555;
    display: table;
    height: 50%;
    width: 100%;
    position: relative;
    background-size: cover;
}
#about-cont h2, #about-cont h4, #about-cont p {
    color: #fff;

}

#skills p {
    line-height: 1.5;
}

#quote {
    background: url('../img/beach-rock.jpg') no-repeat center center fixed;
  /*  display: table; */
    height: 50%;
    width: 100%;
    position: relative;
    background-size: cover;
}
#quote-inner-box {   
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    background-color: rgba(256,256,256,.5);
    padding: 20px;
    font-family: "Oswald", serif;
}




#laptop {
        background: url('../img/mountains.jpg') no-repeat center center fixed;
}






/* Initial loading screen, shown before website loads completely */
.loading {
	background: url('../img/loading.gif') no-repeat center center;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 500px;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}







